@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div>Привет!</div>
    <div class="footerWrapper">
        <div>
            @{Html.RenderPartial("Footer");}
        </div>
    </div>
</body>