<!DOCTYPE html>
<html class="no-js" lang="ru">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Content/Images/favicon.ico")" />
    <title>BeautyCare</title>
 
</head>

@RenderBody()
</html>