<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <style>
        tr{mso-height-source:auto}
        col{mso-width-source:auto}
        br{mso-data-placement:same-cell}
        .basestyle{mso-number-format:General;text-align:general;vertical-align:bottom;white-space:nowrap;mso-rotate:0;mso-background-source:auto;mso-pattern:auto;color:#000;font-size:11pt;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;mso-font-charset:204;border:none;mso-protection:locked visible;mso-style-id:0}
        td{mso-style-parent:basestyle;padding-top:1px;padding-right:1px;padding-left:1px;mso-ignore:padding}
        .header{mso-style-parent:basestyle;color:#1F497D;font-size:10pt;border:.5pt solid windowtext;background:#DBE5F1;mso-pattern:#000 none;white-space:normal}
        .header-right-align{mso-style-parent:basestyle;color:#1F497D;font-size:10pt;text-align:right;border:.5pt solid windowtext;background:#DBE5F1;mso-pattern:#000 none;white-space:normal}
        .cell{mso-style-parent:style0;font-size:10pt;border:.5pt solid windowtext;white-space:normal}
        .cell-right-align{mso-style-parent:style0;font-size:10pt;text-align:right;border:.5pt solid windowtext;white-space:normal}
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
